{% load static wagtailcore_tags %}

<!-- Start Slider Section -->
<section class="banner-slider owl-carousel">
    <div class="single-banner-part bg_1">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="banner-iner">
                        <h5>sound batumi</h5>
                        <h2>you can be yourself.</h2>
                        <a href="/about/" class="banner-btn">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-banner-part bg_2">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="banner-iner">
                        <h5>Professional Equipment</h5>
                        <h2>Choose us once, and you will choose us always.</h2>
                        <a href="/equipment/" class="banner-btn">Our Equipment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="single-banner-part bg_3">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8">
                    <div class="banner-iner">
                        <h5>Contact Us</h5>
                        <h2>Where friends and family will always feel at home!</h2>
                        <a href="/contact/" class="banner-btn">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Slider Section -->
